@media only screen and (min-width: 960px) {
  header {
    margin-top: 7em; 
    margin-left: 3em; 
    width: 45em;
  }
  .tweet-header {
    margin: auto;
    width: auto;
  }
  main {
    width: 50em;
    margin-left: 3em;
    margin-right: 3em; 
    margin-top: 5em; 
  }
  body {
    display: flex;
    margin: 0;
  }
}